.subheader{
    background-color:  rgb(35,47,62);
    height: 40px;
    display: flex;
    padding: 0px;
    box-sizing: border-box;
    color: aliceblue;
 
}
.subheader div{
  
    font-size: large;
    font-weight: 900;
    height: 30px;
    width: 60px;
    /* background-olor: lightcoral; */
    display: flex;
    justify-content: center;
    align-items:  center;
    border-radius: 10px;
    border: 1px solid rgb(245, 242, 242);
    color:whitesmoke;
    margin-left: 55px;
}